body{
	background: #322F70;
	font-family: helvetica,Arial;
	font-size: 1em;
}

.bar {
	background:#121129;
	color: white;
	font-weight: bold;
	left: 1%;	
	position: absolute;
	text-align: left;
	top: 0;
	box-shadow: 0 0 10px #000;
	width:100%;
}

h1 {
	font-size: 2em;
	padding: 0.5em;
}

.clear{
	clear: both;
}